:root {
    --primary: #4112cf;
    --secondary: #1778ad;
}

header div {
    padding: 25px 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bolder;
}

header div p span {
    flex: 2;
    justify-content: left;
}

header a {
    text-decoration: none;
    color: var(--primary);
}

a {
    text-decoration: none;
}

.textaction ol {
    background: var(--secondary);
    color: var(--primary);
    justify-content: left;
    padding: 10px;
}

main {
    margin: auto;
    padding: 20px 40px;
    justify-content: center;
    width: 75%;
}

main div {
    text-align: center;
    margin: 5px auto 0px auto;
    padding: 5px;
}

main div h1 {
    text-align: center;
    margin: 10px auto 0 px auto;
    padding: 5px;
}

.answer {
    font-weight:bold;
}